/* desktop grande */
@media only screen and (min-width:1367px) and (max-width:1980px) {
    header {
        height: 25vh;   
    }
}

/* desktop gigante */
@media only screen and (min-width:1981px) and (max-width:2880px) {
    header {
        height: 30vh;   
    }
    main h1{
        font-size: 500%;
    }
    main h2{
        font-size: 400%;
    }
}  