
/* mobile */

nav {
    width:100vw;
    height:15vh;
    background-color: rgb(22, 21, 21);
}

nav img {
    width: 90px;
    height: 74px;
    left: 25vh;
    top: 10vh;
}

figure{
    position: relative;
}
.profile{
    border-radius: 50%;
    position: absolute;
    width: 35vh;
    height: 35vh;
    left: 23vw;
    top: 10vh; 
}

 /* Footer */
 
.footer{ 
    position: realtive;
    width: 100vw;
    height: 10vh;
}

.social{
    left: 25vh;
    top: 4vh;
}
.fab{
    color: rgb(125, 6, 65);
}
.fab:hover{
    color: rgb(163, 6, 155);
    transition: color .4s ease-out;
}


                
