
/* mobile */

/*Paisagem */
@media only screen and  (max-width:575.98px){
    nav {
        width:100vw;
        
    }
    .btnProjects{
        font-size:1.5rem;
        padding: 2px 20px;
    }
    .social-icon{
        right: 3vw;
        top:2.5vw;
    }
    .card{
        padding: 5vh;
        width: 50vw;
    }
    
    .close{
        margin: 10vh 3vw;
    }
    .description{
        font-size:1.5rem;
        margin: 15vh 12vw 3vh 14vw;
    }

    .copyright{
        font-size: 1rem;
    }

}

@media only screen and (max-width:575.98px) and  (orientation:landscape){
    .btnProjects{
        font-size:1.3rem;
        padding:1px 15px;
    }
    .social-icon{
        margin-top: 1vh;
        font-size: 1.8rem;
    }
    .card{
        height: 20vh;
    }
}

@media only screen and  (min-width:576px) and (max-width:767.98px){
    
    .card{
        padding: 3vh;
        width: 40vw;
    }
    .close{
        margin: 6vh 4vw;
    }               
    .description{
        margin: 12vh 13vw 2vh 13vw;
        font-size:1.6rem;
    }
    
}

@media only screen and (max-width:767.98px) and (orientation:landscape){
    .description{
        margin: 25vh 13vw 2vh 13vw;
    }
}
@media only screen and (min-width:768px) and (max-width:991.98px){
                   
    .description{
        margin: 8vh 14vw 2vh 13vw;
        font-size:1.5rem;
    }
    .card{
        height: 13vh;
        width: 33vw;
    }
    .close{
        margin: 7vh 3vw;
    }
    .social-icon{
        margin: 2vh 1vw;
    }
    
}
@media only screen and (max-width:991.98px) and (orientation:landscape){
    .description{
        margin: 25vh 13vw 2vh 13vw;
    }
}