

@media only screen and (max-width:575.98px) and  (orientation:landscape){
    .btnProjects{
        font-size:1.4rem !important;
        padding:1px 15px;
    }
    
    .social-icon{
        margin-top: 1vh;
        font-size: 1.8rem;
    }
    .description{
        margin: 12vh 6vw 2vh 14vw !important;

    }
    .description h1, h2{
        font-size:1.5rem;

    }
    
}


@media only screen and  (max-width:575.98px){
    
    .btnProjects{
        font-size:1.8rem;
        padding: 1px 20px;
    }
    
    .social-icon{
        right: 3vw;
        top:1vh;
        font-size: 2rem;
    }
    .card{
        padding: 3vh;
        width: 40vw;
    }
    
    .close{
        margin: 10vh 3vw;
    }
    .description{
        font-size:1.2rem;
        margin: 12vh 11vw 3vh 15vw;
    }

    .copyright{
        font-size: 1rem;
    }

}


@media only screen and  (min-width:576px) and (max-width:767.98px){
    
    .card{
        padding: 3vh;
        width: 40vw;
    }
    .close{
        margin: 6vh 4vw;
    }               
    .description{
        font-size:1.8rem;
    }
    
}

@media only screen and (max-width:767.98px) and (orientation:landscape){
    .btnProjects{
        font-size: 1.5rem !important;
        padding:1px 15px;
    }
    
    .description h1, h2{
        font-size: 2rem !important;
    }
}
@media only screen and (min-width:768px) and (max-width:991.98px){
    .btnProjects{
        margin-top:3vh;
    }
                  
    .description{
        margin: 14vh 14vw 2vh 13vw;
        font-size:2rem;
    }
    .card{
        height: 13vh;
        width: 33vw;
    }
    .close{
        margin: 10vh 2vw;
    }
    .social-icon{
        margin: 3vh 1vw;
        font-size: 2.5rem;
    }
    
}
@media only screen and (max-width:991.98px) and (orientation:landscape){
    .description{
        margin: 12vh 13vw 2vh 13vw;
        font-size:1.5rem;
    }
}