

@media only screen and  (max-width:35.99rem){
    
    .btnProjects{
        font-size:1.5rem !important;
    }
    
    .social-icon{
        right: 3vw;
        top:1vh;
        font-size: 1.7rem;
    }
    .card{
        width: 80vw !important;
    }
    
    .description{
        font-size:1.3rem !important;
        margin: 6vh 15vw auto !important ;
    }


}
@media only screen and (max-width:35.99rem) and (orientation:landscape){
    .card{
        width:50vw !important;
    }
}
@media only screen and  (min-width:36rem) and (max-width:47.99rem){
    
    .card{
        width:60vw !important;
    }
                   
    .description{
        font-size:1.5rem !important;
    }
    
    
}
@media only screen and (max-width:47.99rem) and (orientation:landscape){
    .card{
        width:50vw !important;
    }
    .description{
        font-size: 1.2rem !important;
    }
      
}
@media only screen and (min-width:48rem) and (max-width:61.99rem){
    
    .card{
        width: 45vw !important;
    }
    
}
@media only screen and (max-width:61.99rem) and (orientation:landscape){
   
    .card p{
        padding-top: 5vh !important;
    }
    .description{
        margin: 15vh 15vw auto !important;
        font-size:1.2rem !important;
    }
    
}
@media only screen and (min-width: 62rem) and (max-width:75rem){
    
    .description{
        margin: 18vh 12vw;
    }
    .card{
        width: 35vw !important;
    }
    .card p{
        font-size: 2rem !important;
    }
}