*{
    margin: 0;
    padding:0;
    font-family: 'Cinzel', serif;
}
body{
    background-color:  rgb(20, 20, 20);
     color: rgba(255, 255, 255, 1.0);
}
.container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:10vh 80vh 10vh;
    grid-template-areas:
    "header"
    "main"
    "footer";
}
.header{
    grid-area:header;
}
.main{
    grid-area:main;
}
.footer{
    grid-area:footer;
}
   
/* HEADER */

header{
    background-color: rgb(25, 25, 25);
}

.btnProjects{
    float: left;
    margin-top: 2vh;
    margin-left: 2vw;
    cursor: pointer;
    font-size: 2rem;
}
.line{
    border-bottom: 2px solid aqua;
}
.btnProjects:hover .line{
    display: block;
}
.modal{
    display: none;
    position: fixed;
    z-index:1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6)
}
.card{
    margin:12vh auto 3vh auto;
    color: rgb(255, 255, 255);
    padding: 2vh;
    border-radius:25px;
    width: 20vw;
    height: 15vh;
}

.card-content1{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
}
.card-content2{
    margin:auto;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
}
.card-content1  a , .card-content2 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-align: center;
}
.card-content1 p, .card-content2 p{
    margin-top: 5vh ;
}

.close {
    color: rgb(255,255,255);
    float: right;
    margin: 10vh 3vw;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
  color: rgba(122, 41, 122,1.0);
  text-decoration: none;
  cursor: pointer;
}

.menu-mobile, .menu-btn{
    display:none;
}

.dropbtn{
    margin: 0 auto;
}


li a, .dropbtn{
    display:inline-block;
    text-decoration: none;
}
li a:hover, dropdown:hover .dropbtn{
    color: aqua;
}
li.dropdown {
    display: inline-block;
  }
  .dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
}
.dropdown-content a, .dropdown a{
    padding: 10px;
    display:block;
    text-decoration:none;
    font-size:2em;
    color:rgba(255,255,255,1.0);
}
.dropdown-content a:hover{
    color: aquamarine;
}
.dropdown:hover .dropdown-content{
    display: block;
}

.social-icon{
    float: right;
    margin: 2.3vh 3vw;
    font-size: 2rem;
}
.social-icon a{
    padding-right: 1px;
    text-decoration:none;
}
/* MAIN */

.description{
    font-size: 2rem;
    margin: 18vh 6vw 2vh 14vw;
    letter-spacing: 2px;
}

/*FOOTER*/

.copyright{
    text-align:center;
    font-size: 1.1em;
}
footer{
    background-color: rgb(25, 25, 25);
}
footer  p{
    padding-top:3vh;
}


/* Animation*/

.flash{
    animation-name: flash;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes flash{
   0%{
    color: rgba(163, 6, 155,1.0);
   }
   100%{
    color: rgba(122, 41, 122,1.0);
   } 
   
}

[data-anime]{
    opacity: 0; 
    transition: .9s;
}
[data-anime="top"]{
    transform: translate3d(0, -50px, 0);
}
[data-anime="right"]{
    transform: translate3d(50px, 0, 0);
}
[data-anime="bottom"]{
    transform:translate3d(-0px, 0, 0);
}
[data-anime="left"]{
    transform: translate3d(-50px, 0, 0);
}


[data-anime].animate{
    opacity: 1;
    transform:translate3d(0px,0px,0px);
}

/* Animação */
.anime{
    opacity: 0;
    transform: translate3d(-100px, 0,0);
    transition: .9s;
}
.anime-start{
    opacity: 1;
    transform: translate3d(0,0,0);
}

 

