*{
    margin: 0;
    padding:0;
    font-family: 'Cinzel', serif;
}
a:link{
    text-decoration:none;
    color:inherit;
}
body{
    color: rgba(255, 255, 255, 1.0);
    background-image: url("../img/Constellation.svg");
}
.container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:10vh 80vh 10vh;
    grid-template-areas:
    "header"
    "main"
    "footer";
}
.header{
    grid-area:header;
}
.main{
    grid-area:main;
}
.footer{
    grid-area:footer;
}
   
/* HEADER */

.btnProjects{
    float: left;
    margin-top: 2vh;
    margin-left: 2vw;
    cursor: pointer;
    font-size: 2rem;
}
.line{
    border-bottom: 1px solid  #c709bd;
}
.btnProjects:hover .line{
    display: block;
    transition: 2s;
}
.modal{
    display: none;
    position: fixed;
    z-index:1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6)
}
.card{
    margin:12vh auto 2vh;
    color: rgb(255, 255, 255);
    border-radius:25px;
    border:solid 2px #ffffff;
    width: 25vw;
    height: 20vh;
}
.card  p{
    padding-top: 7vh;
    font-size: 2rem;
}
.card-books{
    background-image: linear-gradient( 109.6deg, rgba(135,168,254,1) 11.2%, rgba(254,165,197,1) 100.2% );
    
}
.card-store{
    margin-top:auto;
    background: linear-gradient(to top, rgba(255, 255, 255, 1),rgba(50,205,50,0.5)); 
}
.card-books a, .card-store a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-align: center;
}

.close {
    color: rgb(255,255,255);
    float: right;
    margin: 10vh 3vw;
    font-size: 2rem;
    font-weight: bold;
}
.close:hover {
  color: rgba(122, 41, 122,1.0);
  text-decoration: none;
  cursor: pointer;
}

.menu-mobile, .menu-btn{
    display:none;
}

.dropbtn{
    margin: 0 auto;
}


li a, .dropbtn{
    display:inline-block;
    text-decoration: none;
}
li a:hover, dropdown:hover .dropbtn{
    color: aqua;
}
li.dropdown {
    display: inline-block;
  }
  .dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
}
.dropdown-content a, .dropdown a{
    padding: 10px;
    display:block;
    text-decoration:none;
    font-size:2em;
    color:rgba(255,255,255,1.0);
}
.dropdown-content a:hover{
    color: aquamarine;
}
.dropdown:hover .dropdown-content{
    display: block;
}

.social-icon{
    float: right;
    margin: 2.3vh 3vw;
    font-size: 2rem;
}
.social-icon a{
    padding-right: 1px;
    text-decoration:none;
}

/* MAIN */

.description{
    font-size: 2rem;
    margin: 18vh 9vw auto;
    letter-spacing: 2px;
}

/*FOOTER*/

.copyright{
    text-align:center;
    font-size: 1.2rem;
}

footer  p{
    padding-top:3vh;
}

/* Animation*/

.flash{
    animation-name: flash;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes flash{
   0%{
    color: rgba(163, 6, 155,1.0);
   }
   100%{
    color: rgba(122, 41, 122,1.0);
   } 
   
}

[data-anime]{
    opacity: 0; 
    transition: .9s;
}
[data-anime="top"]{
    transform: translate3d(0, -50px, 0);
}
[data-anime="right"]{
    transform: translate3d(50px, 0, 0);
}
[data-anime="bottom"]{
    transform:translate3d(-0px, 0, 0);
}
[data-anime="left"]{
    transform: translate3d(-50px, 0, 0);
}


[data-anime].animate{
    opacity: 1;
    transform:translate3d(0px,0px,0px);
}

/* Animação */
.anime{
    opacity: 0;
    transform: translate3d(-100px, 0,0);
    transition: .9s;
}
.anime-start{
    opacity: 1;
    transform: translate3d(0,0,0);
}

 

