/* desktop grande */
@media only screen and (min-width:1367px) and (max-width:1980px) {
    header {
        height: 800px;   
    }
}

/* desktop gigante */
@media only screen and (min-width:1981px) and (max-width:2880px) {
    header {
        height: 1000px;   
    }
    header #h1{
        font-size: 1000%;
        padding-top: 20%;
    }
}  